{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% block title %}MyPantry{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
	<header class="site-header">
		<div class="container header-inner">
			<a class="brand" href="{% url 'home' %}">
				<img class="brand-icon"
				       src="{% static 'images/My_Pantry_Logo.png' %}"
				       alt="My Pantry Logo">
			</a>

			<nav class="nav">
				{% if user.is_authenticated %}
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				{% endif %}

				<a class="nav-link" href="{% url 'about' %}">About</a>

				{% if user.is_authenticated %}
					<a class="nav-link" href="{% url 'account_settings' %}">Account</a>
					<form action="{% url 'logout' %}" method="post" style="display:inline;">
						{% csrf_token %}
						<button type="submit" class="nav-link">Log Out</button>
					</form>
				{% else %}
					{% if request.resolver_match.url_name != 'login' %}
						<a class="nav-link" href="{% url 'login' %}">Log In</a>
					{% endif %}

					{% if request.resolver_match.url_name != 'signup' %}
						<a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
					{% endif %}
				{% endif %}
			</nav>
		</div>
	</header>

	<!-- Basic Modal - put specific mesages inside -->
	 <div id="modal" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<h2 id="modal-title">Modal Title</h2>
				<span class="close-btn" onclick="closeModal()">&times;</span>
			</div>
			<div class="modal-body" id="modal-body">
				<!-- Put content here -->
			</div>
		</div>
	</div>

	<script>
		// Basic Modal Scripts
		function openModal(title, bodyContent) {
			// Pass in scenario-specific modal content
			document.getElementById('modal-title').textContent = title;
			document.getElementById('modal-body').innerHTML = bodyContent;
			document.getElementById('modal').style.display = 'flex';
		}

		function closeModal() {
			document.getElementById('modal').style.display = 'none';
		}

		window.onclick = function(event) {
			const modal = document.getElementById('modal');
			if (event.target == modal) { closeModal(); }
		}
	</script>

	{% block content %}{% endblock %}
</body>
</html>
