{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="dashboard">
  <div class="container">
    <h1 class="page-title">MyPantry</h1>

    <section class="panel-grid">
      <div class="panel"><h2>My Ingredients</h2></div>
      <div class="panel"><h2>Recipes</h2></div>
      <div class="panel"><h2>Notifications</h2></div>
    </section>

    <section class="panel-wide">
      <div class="panel wide"><h2>Suggest Recipes</h2></div>
    </section>
  </div>
</main>
{% endblock %}
