[flake8]
ignore = W503
# static is for images and css during live deployment (empty for testing)
# features is for the feature files used by behave
# __pycache__ is for the python cache
# .pytest_cache is for the pytest cache
# htmlcov is for the coverage reports
exclude = migrations, .venv, static, features, __pycache__, .pytest_cache, htmlcov
max-line-length = 88
