# Inherit production and documentation requirements
-r requirements.txt
-r docs/requirements.txt

# Linting
flake8==7.3.0

# Pytest Suite
pytest==9.0.2
pytest-django==4.12.0
pytest-cov==7.0.0

# Behave BDD Suite
behave==1.3.3
behave-django==1.9.0

# Web Testing/API Utilities (Optional but recommended)
beautifulsoup4==4.14.3

