# Framework & Dependencies
Django==4.2.30
asgiref==3.7.2       # ASGI specs, standard for Django async operations
sqlparse==0.5.4      # SQL parser, required by Django's ORM
tzdata==2025.3       # Timezone data, required by Django

# Web Server & Static File Management
gunicorn==25.1.0     # Production WSGI HTTP Server
whitenoise==6.12.0   # Serves static files directly from the web server
brotli==1.2.0        # Compression library to make WhiteNoise static files load faster

# Configuration & Environment
python-dotenv==1.2.2 # Loads environment variables from a .env file

# External API & HTTP Clients
requests==2.33.0     # Library for making HTTP(API) requests
djangorestframework==3.17.1 # API Framework

# Utilities
packaging==26.0      # Core utilities for Python packages

# AI Integration
openai==2.32.0       # OpenAI API client