# Inherit production and documentation requirements
-r requirements.txt
-r docs/requirements.txt
-r requirements-behave.txt
-r requirements-flake8.txt
-r requirements-pytest.txt

# Web Testing/API Utilities (Recommended)
beautifulsoup4==4.14.3

